{{ define "content" }}
<div class="jumbotron bg-light p-5 rounded">
  <h1 class="display-4">Транспортные услуги на любой случай</h1>
  <p class="lead">
    Аренда автомобилей, спецтехники и грузоперевозки от надежных партнеров.
  </p>
  <hr class="my-4" />
  <!-- <a class="btn btn-primary btn-lg" href="/categories" role="button"
    >Просмотреть категории</a
  >
  {{ if .IsAuthenticated }} {{ if eq .User.Role.Role "client" }}
  <a class="btn btn-success btn-lg ms-2" href="/client/orders/new" role="button"
    >Создать заказ</a
  >
  {{ else if eq .User.Role.Role "provider" }}
  <a class="btn btn-success btn-lg ms-2" href="/provider/orders" role="button"
    >Просмотреть заказы</a
  >
  {{ end }} {{ else }}
  <a class="btn btn-outline-primary btn-lg ms-2" href="/register" role="button"
    >Зарегистрироваться</a
  >
  {{ end }}
</div> -->

  <div class="row mt-5">
    <div class="col-12">
      <h2 class="display-4 text-center">Наши услуги</h2>
    </div>

    <div class="row">
      <div class="d-flex flex-wrap justify-content-evenly">
        {{ range .Categories }}
        <div class="category-card">
          <div class="category-icon">{{ .Icon }}</div>
          <h3>{{ .Name }}</h3>
          <p>{{ .Description }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
